{{ define "main" }}
<div class="bg-white p-5 rounded-lg">
    <div class="mb-5">
        <h2 class="text-black text-4xl">{{ .Title }}</h2>
    </div>
    
    <div class="p-5 border border-grey-light shadow-lg leading-tight">
        {{ .Content }}
    </div>

    <div class="p-5 mt-5 border border-grey-light rounded">
        <h4>Article Data:</h4>
        <h5>Created: <time datetime="{{ .Params.Date }}">{{ .Date.Format "January 2, 2006" }}</time> | Words: {{ .WordCount }}</h5>
        {{ if .Params.Tags.Len}}
        <div class="bg-black p-5 rounded">
            <h5>Tags:</h5>
            <ul>
                {{ range .Params.Tags }}
                <li>{{ . | safeHTML }}</li>
                {{ end }}
            </ul>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}