{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
<ul class="list-reset flex">
    {{ if $pag.HasPrev }}
    <li class="mx-1"><a class="no-underline" href="{{ $pag.Prev.URL }}">Prev</a></li>
    {{ end }}
    {{ range $pag.Pagers }}
    {{if eq . $pag}}
    <li class="mx-1"><a class="text-orange" href="{{ .URL }}">{{ .PageNumber }}</a></li>
    {{ else }}
    <li class="mx-1"><a class="text-grey-dark no-underline" href="{{ .URL }}">{{ .PageNumber }}</a></li>
    {{ end }}
    {{ end }}
    {{ if $pag.HasNext }}
    <li class="mx-1"><a class="no-underline" href="{{ $pag.Next.URL }}">Next</a></li>
    {{ end }}
</ul>
{{ end }}