{{ define "main" }}
<div class="bg-black p-2">
    <h1 class="text-white text-center font-normal text-4xl p-5">{{ .Title }}</h1>
    <div class="container mx-auto max-w-lg rounded-lg bg-black">
        <h4 class="text-white text-center font-hairline text-lg">{{ .Content }}</h4>
        <div class="p-5 m-5 bg-white rounded-lg">
            <h2 class="text-left text-black">Posts: ({{ .Pages.Len }})</h2>
            {{ $paginator := (.Paginator 5) }}
            {{ partial "pagination.html" . }}
            {{ range $paginator.Pages }}
            <div class="my-2 mx-auto  bg-black p-5 w-full rounded overflow-hidden shadow-lg">
                <img class="w-full rounded" src="{{ $.Site.BaseURL}}/uploads/{{ .Params.Thumbnail }}" alt="{{ .Params.Title }} Thumbnail">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2 text-orange">{{ .Params.Title }}</div>
                    <p class="text-white text-base">{{ .Params.Description }}</p>
                    <a class="no-underline inline-block mt-2 bg-orange hover:bg-orange-dark text-black font-bold py-2 px-4 rounded"
                        href="https://{{ .Params.href }}">View &gt;</a>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}