{{ define "main" }}
<div class="flex justify-center items-center" style="margin-top:17%;">
    <div class="rounded-lg py-2 bg-black">
        <div class="flex justify-center items-center">
            <img class="rounded-full p-5" src="/images/HeadShot.png" alt="">
        </div>
        <h1 class="text-center text-white text-4xl">{{ $.Site.Params.Name }}</h1>
        <h4 class="text-center text-orange-light font-hairline text-md p-5">{{ $.Site.Params.Headline }}</h4>
    </div>
</div>
{{ end }}